/* الخلفية التدريجية الأساسية */
.hero-section {
  background: rgb(255, 255, 255);
  background: linear-gradient(75deg, rgba(255, 255, 255, 1) 50%, var(--primary) 50%);
}

/* إخفاء الخلفية التدريجية على الشاشات الصغيرة */
@media (max-width: 1024px) {
  .hero-section {
    background: rgb(255, 255, 255);
    color: var(--primary) !important;
    /* background-color: var(--primary); */
    /* background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, var(--primary) 50%); */
  }
}


/* .button-Section {
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(75, 123, 58);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: white !important;
  text-decoration: none !important;
  font-size: 20px;
}

.button-Section:hover {
  background-color: rgb(54, 81, 49);
} */